.secrets
.trace
.username
albert
!albert.conf
**/Code/**/*
!**/Code/User/settings.json
dot-config/xfce/**/xfce4-screenshooter
dot-config/xfce/**/xfce-perchannel-xml/**/*
**/ranger/tagged
**/ranger/history
**/ranger/bookmarks
