[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nazgul/Desktop/steam.desktop]
row=4
col=0

[/home/nazgul/Desktop/Trine.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/nazgul]
row=2
col=0

