[user]
	email = tamas.kadlecsik@gmail.com
	name = nazgul
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[pull]
	rebase = true
[push]
	default = current
[alias]
  co = checkout
  c = commit -m
  ca = commit -am
  cn = commit -nm
  can = commit -nam
  amend = commit --amend --no-edit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  type = cat-file -t
	dump = cat-file -p
  p = push origin HEAD
